node_modules
npm-debug.log
yarn-error.log

dist
build

.DS_Store
Thumbs.db

package-lock.json
yarn.lock

.vscode
.idea

.env
.env.test.local
.env.production
.env.development

*.log

coverage

*.tgz
.lock-wscript
